@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Add your existing styles here, with any additional styles you need */
    /* Input and select styles */
    .search-form {
        margin-bottom: 30px;
    }

        .search-form input[type="text"], .search-form select {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            width: 300px;
            margin-right: 10px;
            font-size: 16px;
        }

        .search-form input[type="submit"] {
            /* Keep your existing submit button styles */
        }

    /* Table styles */
    table {
        /* Your existing table styles */
    }
</style>

<div class="text-center">
    <h1>Cryptocurrency Information</h1>
    @using (Html.BeginForm("index", "home", FormMethod.Post, new { @class = "search-form",id="form" }))
    {      
        <div style="position:absolute; width:300px; height:45px">
            <select id="select_symbol" name="symbolId" class="js-data-example-ajax">sfa</select>
        </div>

        <input type="submit" title="Search" value="Search" />
    }

    <table>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
        </tr>

        @if (Model != null)
        {
            @foreach (var symbolInfo in Model)
            {
                <tr>
                    <td>@symbolInfo.Name</td>
                    <td>@symbolInfo.Symbol</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" style="text-align:center;">No data found</td>
            </tr>
        }
    </table>
</div>

<script>
    $('#select_symbol').select2({
        ajax: {
            url: 'home/search',
            dataType: 'json',
            data: function (params) {
                var query = {
                    symbol: params.term,
                    type: 'public'
                }            
                return query;
            }            
        }
    });
    $('#select_symbol').on('select2:select', function (e) {
        var data = e.params.data;
        console.log(data);
        $('#form').submit();
    });
</script>